<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>
    <main class="container content">
      <!--  Iniciando Loop  -->
      <%posts.forEach(post=>{%>

      <div class="card">
        <div class="card-header">
          <div>
            <img class="avatar" src="/uploads/<%=post.user.avatar%>" />
            <b><%=post.user.username%></b>
          </div>
          <img src="/img/icons/more-vertical.svg" />
        </div>
        <div class="card-img">
          <img src="/uploads/<%=post.image%>" />
        </div>
        <div class="card-body">
          <div class="card-itens">
            <div class="likes">
              <img src="/img/icons/heart.svg" />
              <b>10 likes</b>
            </div>
            <b> <%= new Intl.DateTimeFormat().format(post.createdAt)%> </b>
          </div>
          <div class="card-comments">
            <% post.comments.forEach(comment=>{%>
            <p>
              <strong><%=comment.user.username%></strong>
              <%=comment.content%><br />
            </p>
            <%})%>
          </div>
        </div>
        <form
          action="/comment/<%=user.id%>/<%=post.id%>/"
          method="POST"
          class="form-comments"
        >
          <input
            type="text"
            placeholder="Adicione um comentário..."
            name="content"
          />
          <button type="submit">Publicar</button>
        </form>
      </div>
      <%})%>
      <!-- Finalizando Loop -->
    </main>
  </body>
</html>
